name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  release:
    name: Publish release
    runs-on: ubuntu-22.04
    environment: crates.io token
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: "frozone: check coherent cargo.toml version and git tag"
      run: |
        [ v"$(cat frozone/Cargo.toml | grep "^version =" | cut -d ' ' -f 3 | tr -d '"')" = ${{ github.ref_name }} ] || exit 1
    - name: "frozone-derive: check coherent cargo.toml version and git tag"
      run: |
        [ v"$(cat frozone-derive/Cargo.toml | grep "^version =" | cut -d ' ' -f 3 | tr -d '"')" = ${{ github.ref_name }} ] || exit 1
    - uses: dtolnay/rust-toolchain@nightly
    - name: "cargo package"
      run: cargo package --workspace
    - name: "Publish to crates.io" # publish --workspace requires nightly
      run: cargo publish --workspace --no-verify
